# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Environment variables
/backend/.env
backend/.env.*.local
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ==================================
#      BACKEND SPECIFIC IGNORES
# ==================================
# Ignore the user-uploaded content directory inside the backend folder.
# all image upload folders (cutting, scc, etc.)
/backend/public/storage/


# --- USER UPLOADED CONTENT ---
# Ignore all content within the public storage directory.
# handles all image upload folders in frontend
public/storage/

# Ignore temporary upload and glossary files
temp/glossaries/
temp/uploads/



# ==================================
#      AI Service API
# ==================================
# Ignore API Keys.
# Ignore the .env file inside the ai_service folder and the virtual environment.
/ai_service/.env
/ai_service/venv

# Ignore the non-essential files in ai agent sections
translatedocs.ipynb
ai_agent_docs_guide/system_translation_docs.ipynb
ai_agent_docs_guide/system_translation_docs.ipynb
ai_agent_docs_guide/system_translation_docs.out
ai_agent_docs_guide/system_translation_docs.pdf
ai_agent_docs_guide/system_translation_docs.tex
ai_agent_docs_guide/system_translation_docs.toc
ai_agent_docs_guide/system_translation_docs.log
ai_agent_docs_guide/system_translation_docs.aux
ai_agent_docs_guide/company_logo.jpg
ai_agent_docs_guide/Logo_team_yai.png
