.dashboardLayout {
    display: flex;
    gap: 0;
    height: 100vh;
    overflow: hidden;
    
    .menu {
        flex: 0 0 280px;
        max-width: 280px;
        min-width: 280px;
        height: 100vh;
        overflow: hidden;
        border-right: 1px solid #2d2d2d;
    }
    
    .content {
        flex: 1;
        background-color: #191918;
        overflow-y: auto;
        height: 100vh;
        
        &::-webkit-scrollbar {
            width: 8px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #3d3d3d;
            border-radius: 4px;

            &:hover {
                background: #4d4d4d;
            }
        }
    }
}